<mat-card>
    <mat-card-title>Team Managament</mat-card-title>
    <mat-card-content>
        <div class="team">
            <form class="example-form" [formGroup]="teamForm" (ngSubmit)="onFormSubmit()">
                <mat-form-field class="example-full-width">
                    <mat-label>TeamName</mat-label>
                    <input matInput placeholder="UserId" formControlName="teamName">
                </mat-form-field>
                <br>
                <mat-label *ngIf="teamName?.dirty && teamName?.hasError('required')" class="error">Team name
                    required.</mat-label>
                <b> Employees in Team :</b><br><br>
                <div formArrayName="employees">
                    <div *ngFor="let emp of employees.controls; let i = index" [formGroupName]="i" class="employee">
                        <p> <b>Employee {{i + 1}} : </b> </p>
                        <mat-form-field class="example-full-width">
                            <mat-label>EmpName</mat-label>
                            <input matInput placeholder="empName" formControlName="empName">
                        </mat-form-field>
                        <br>
                        <mat-label *ngIf="emp.get('empName')?.hasError('required')" class="error"> Employee name
                            required.</mat-label>
                        <br><br>
                        <mat-form-field class="example-full-width">
                            <mat-label>Age</mat-label>
                            <input matInput placeholder="age" formControlName="age">

                        </mat-form-field>
                        <br>
                        <mat-label *ngIf="emp.get('age')?.hasError('required')" class="error"> Age name
                            required.</mat-label>
                        <br><br>

                        <mat-form-field class="example-full-width">
                            <mat-label>city</mat-label>
                            <input matInput placeholder="city" formControlName="city">
                        </mat-form-field>
                        <br>
                        <mat-label *ngIf="emp.get('city')?.hasError('required')" class="error"> Employee City
                            required.</mat-label>
                        <br><br>

                        <button mat-raised-button color="primary" style="margin: 5px;"
                            (click)="deleteEmployeeControl(i)" type="submit">Delete</button>

                    </div>

                    <div>



                    </div>
                    <div>

                        <button mat-raised-button color="primary" (click)="addEmployeeControl()" style="margin: 5px;"
                            type="submit">Add Employee</button>

                    </div>
                    <div>

                        <button mat-raised-button color="primary" (click)="resetEmployees()" style="margin: 5px;">Reset
                            Employee</button>

                    </div>
                    <div>

                        <button mat-raised-button color="primary" (click)="clearEmployeeControl()" style="margin: 5px;"
                            type="submit">Clear Employee</button>

                    </div>


                </div>
                <div>

                    <button mat-raised-button color="primary" style="margin: 5px;" type="submit">submit</button>

                </div>
            </form>

        </div>

    </mat-card-content>
</mat-card>